.Layout {
    height: 100%;
    box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 84% 4%;
    
}

header, footer{
    grid-column: span 2;
}

main{
    overflow: auto;
}

.Layout, .Layout > *{
    border: 1px solid #074a6b;
}

a{
    text-decoration: none;
    color: #074a6b;
}